*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
img{ vertical-align: bottom;}
:disabled{ cursor: not-allowed;}
button{ cursor: pointer; padding: 0;}
ul{ list-style: none; padding: 0;}
abbr[title]{ text-decoration: underline dotted; -webkit-text-decortion: underline dotted}
button{padding: 0;}

/*html{scroll-behavior: smooth;}*/
html{font-size: 15px;}
body{font-family: pl, sans-serif; font-weight: 100; margin: 0;}    
 
 h1,h2,h3,h4,th,b,strong{font-family: pb, sans-serif; font-weight: 700;}
 
 .reg{font-family: pb, sans-serif;}
 
 .img-resp{max-width: 100%; height: auto;}
 
 .container{
     max-width: 1200px;
     margin: auto;
     padding: 0 15px;
     /*outline: 2px solid black;*/
 }
 
 .row{ display: flex; flex-flow: row wrap; margin: 0 -15px;}
 .row[class^="col-"]{flex: 1 0 auto; padding: 0 15px;}
 
 .col-1 { flex: 1 0 8.33% ; padding: 0 15px; max-width: 8.33%; }
 .col-2 { flex: 1 0 16.66%; padding: 0 15px; max-width: 16.66%;}
 .col-3 { flex: 1 0 25%   ; padding: 0 15px; max-width: 25%;   }
 .col-4 { flex: 1 0 33.33%; padding: 0 15px; max-width: 33.33%;}
 .col-5 { flex: 1 0 41.66%; padding: 0 15px; max-width: 41.66%;}
 .col-6 { flex: 1 0 50%   ; padding: 0 15px; max-width: 50%;   }
 .col-7 { flex: 1 0 58.33%; padding: 0 15px; max-width: 58.33%;}
 .col-8 { flex: 1 0 66.66%; padding: 0 15px; max-width: 66.66%;}
 .col-9 { flex: 1 0 75%   ; padding: 0 15px; max-width: 75%;   }
 .col-10{ flex: 1 0 83.33%; padding: 0 15px; max-width: 83.33%;}
 .col-11{ flex: 1 0 91.66%; padding: 0 15px; max-width: 91.66%;}
 .col-12{ flex: 1 0 100%  ; padding: 0 15px; max-width: 100%;  }

 body{background: url(/img/Background.png)no-repeat center top/cover;}
 
/*.wrap-1{background:url(/img/bg\ 1.png) no-repeat center top/cover; color: #fff;}*/
.wrap-1{color: #fff;}
.wrap-1 h1{padding-top: 20px;}
.wrap-1 h2{padding-top: 280px; font-size: 50px;}
.wrap-1 img{padding-top: 100px; padding-bottom: 100px;}

.wrap-2 img{padding-top: 80px; padding-bottom: 100px;}


.wrap-3{text-align: center;}
.wrap-3 span{color: #a864ca #fff; font-size: 80px; padding-top: 50px; padding-bottom: 30px;}
.wrap-3 .box{box-shadow: 10px 5px 10px 5px #00000021; margin-top: 80px; background: #fff; margin-bottom: 80px;}
.wrap-3 h3{font-size: 25px; padding: 20px 10px 20px 10px; text-align: left;}
.wrap-3 p{font-size: 18px; padding: 0px 10px 20px 10px; text-align: left; }
.clr1{color: #a864ca}
.clr2{color: #0ec3b0;}
.clr3{color: #ffb347;}


.wrap-4 h2{color: #fff; text-align: center;font-size: 50px; padding-top: 30px; }
.wrap-4 .reel{background-color: #fff; box-shadow: 10px 5px 10px 5px #00000021; margin-top: 95px; margin-bottom: 50px;}
.wrap-4 .reel figure img{position: relative; top: -40px; z-index: 1;}
.wrap-4 .reel figcaption{font-size: 30px; padding: 0px 10px 50px 10px; margin-top: -50px;}
.wrap-4 .reel figcaption p{font-size: 16px; padding-top: 30px; padding-bottom: 30px;}
.wrap-4 .reel figcaption button{border-style: none;padding: 10px 30px; background: #ff6633; border-radius: 25px; margin: auto; display: flex; justify-content: center;}


.wrap-5{text-align: center;}
.wrap-5 .slider{background: #fff;margin-top: 200px;}
.wrap-5 .slider figure img{position: relative; top: -60px; z-index: 1;}
.wrap-5 .slider figcaption{margin-top: -60px;}
.wrap-5 .slider figcaption h3{font-size: 23px;}
.wrap-5 .slider figcaption sub{font-size: 20px;}
.wrap-5 .slider figcaption p{font-size: 18px; padding: 20px 40px; text-align: justify; padding-bottom: 40px;} 
.wrap-5 .sliders .slider{display: none;}
.wrap-5 .sliders .active{display: block;}
.wrap-5 input{position: relative; top: 574px; z-index: 2;}
#i1:checked ~ #slide1 {display: block;}
#i2:checked ~ #slide2 {display: block;}
#i3:checked ~ #slide3 {display: block;}
#i4:checked ~ #slide4 {display: block;}
/*#i1, #i2, #i3, #i4{display: ;}*/
/*.pre, .nxt{width: 12%; height: 100%; position: absolute; top: 36; background: rgba(88,88,88,.4); z-index: 2;}*/
/*.wrap-5 .pager{margin-top: 30px; margin-bottom: 30px;}
.wrap-5 .pager ul{display: flex; justify-content: center;}
.wrap-5 .pager ul li{margin: 5px;}
.wrap-5 .pager ul li a{display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%;}
.wrap-5 .pager ul li a.active{background: #ed194a;}*/
.wrap-5 button{border-style: none; padding: 10px 30px; background: #ff6633; border-radius: 25px; color: #fff; margin-bottom: 60px; box-shadow: 0px 10px 10px 0px #00000021; margin-top: 70px;}


.wrap-6{background: url(/img/BG2.png)center top/cover no-repeat;}
.wrap-6 .list{background: #fff; padding-top: 50px; margin-top: 40px; margin-bottom: 40px;}
.wrap-6 .list h2{font-size: 30px; text-align: left; padding-left: 20px;}
.wrap-6 form{padding: 20px;}
.wrap-6 form :required{border: none; margin-left: 20px; padding-top: 50px;}
.wrap-6 form label{font-size: 20px;}
.wrap-6 .btn{padding-top: 40px; text-align: center;}
.wrap-6 button{border-style: none; padding: 10px 50px; background: #ff6633; border-radius: 25px; margin: auto; display: flex; justify-content: center; color: #fff;box-shadow: 0px 10px 10px 0px #00000021;}
.wrap-6 .btn sub{font-size: 18px; margin: 20px 0px;}
.wrap-6 .btn pre{color: #ed194a; font-size: 20px;}


.wrap-7{background: #32004b; padding-bottom: 50px;}
.wrap-7 img{padding-top: 70px;}
.wrap-7 .app { color: #fff;}
.wrap-7 .app h3{padding-top: 70px;}
.wrap-7 .app ul{padding-top: 20px;}
.wrap-7 .icons{font-size: 15px;}
.wrap-7 .icons ul{display: flex; font-size: 15px; justify-content: right; padding-top: 100px; padding-bottom: 50px;}
.wrap-7 .icons ul li{margin-left: 10px;}
.wrap-7 .icons ul li a{display: block; line-height: 30px; border-radius: 50%; width: 30px ;background:#fff; color:#343434; text-align: center;}
.wrap-7 pre{color: #fff; font-family: sans-serif;}
.wrap-7 .sign{color: #fff; padding-top: 70px;}
.wrap-7 .sign p{padding-top: 20px; padding-bottom: 30px;}
.wrap-7 input{ background: #28033b; border-radius: 30px; height: 30px; width: auto; font: 20px , sans-serif; color: #fff; border-color: #fff; padding: 10px 20px;}
.wrap-7 input::placeholder{color: #fff;}
.wrap-7 button{border-style: none; padding: 10px 30px; background: #ff6633; border-radius: 25px; margin: auto; display: flex; justify-content: center; color: #fff;box-shadow: 0px 10px 10px 0px #00000021; float: right;}



@media (max-width:1220px) {
    .wrap-1 img {padding-top: 295px; padding-bottom: 50px;}
    .wrap-2 img {padding-top: 30px; padding-bottom: 30px;}
    .wrap-4 h2 {color: #ed194a}
    .wrap-3 .box {margin-top: 50px; margin-bottom: 50px;}
    .wrap-5 input {top: 613px;}
    .wrap-7 input {padding: 10px;}
    .wrap-7 button{padding: 10px 27px;}
}


@media (max-width:980px) {
 .col-t-4 { flex: 1 0 33.33%; padding: 0 15px; max-width: 33.33%;}
 .col-t-0 { flex: 0 0 0%; padding: 0 0; max-width: 0;}
 .col-t-12{ flex: 1 0 100%  ; padding: 0 15px; max-width: 100%;  }

    .wrap-1 h2 {padding-top: 172px; font-size: 48px;}
    .wrap-1 img {padding-top: 120px;}
    .wrap-2 img {padding-top: 70px;}
    .wrap-3 h3 {font-size: 22px;}
    .wrap-3 p {font-size: 13px;}
    .wrap-4 .reel figcaption p {font-size: 12px; padding-top: 20px; padding-bottom: 20px; text-align: justify;}
    .wrap-4 .reel figcaption {font-size: 28px;}
    .wrap-4 .reel{margin-bottom: 20px;}
    .wrap-5 .slider figcaption p {font-size: 15px;}
    .wrap-7 pre{font-size: 11px;}
    .wrap-7 button {padding: 7px 83px;}
    .wrap-7 input {padding: 10px 28px;}
}

@media (max-width:767px) {
 .col-m-2 { flex: 1 0 16.66%; padding: 0 15px; max-width: 16.66%;}
 .col-m-3 { flex: 1 0 25%   ; padding: 0 15px; max-width: 25%;   }
 .col-m-4 { flex: 1 0 33.33%; padding: 0 15px; max-width: 33.33%;}
 .col-m-6 { flex: 1 0 50%   ; padding: 0 15px; max-width: 50%;   }
 .col-m-8 { flex: 1 0 66.66%; padding: 0 15px; max-width: 66.66%;}

    .wrap-2 img {padding-top: 150px;}
    .wrap-3 h3 {font-size: 18px;}
    .wrap-3 p {font-size: 12px;}
    .wrap-4 h2 {color: #ed194a; font-size: 40px;}
    .wrap-4 .reel figcaption {font-size: 20px;}
    .wrap-4 .reel figcaption p {font-size: 10px;}
    .wrap-4 .reel {margin-bottom: 10px;}
    .wrap-4 .reel figcaption {padding: 0px 10px 25px 10px;}
    .wrap-5 .slider figcaption p {font-size: 12px; padding: 15px 15px;}
    .wrap-5 .slider figcaption h3 {font-size: 20px;}
    .wrap-5 .slider figcaption sub {font-size: 18px;}
    .wrap-5 input {top: 509px;}
    .wrap-5 button{margin-bottom: 35px; margin-top: 60px;}
    .wrap-6 .list h2 {font-size: 23px;}
    .wrap-6 .list {padding-top: 25px;}
    .wrap-6 form :required {padding-top: 24px;}
    .wrap-6 form label {font-size: 16px;}
    .wrap-6 button {padding: 10px 25px;}
    .wrap-6 .btn sub {font-size: 14px;}
    .wrap-6 .btn pre {font-size: 16px;}
    .wrap-7 input {padding: 10px 20px;}
    .wrap-7 button {padding: 8px 56px;}
    .wrap-7 pre {font-size: 13px;}
    .wrap-7 .icons ul {justify-content: left;}
}

@media (max-width:460px) {
 .col-mt-0 { flex: 0 0 0%; padding: 0 0; max-width: 0;}
 .col-mt-1 { flex: 1 0 8.33% ; padding: 0 15px; max-width: 8.33%; }
 .col-mt-6 { flex: 1 0 50%   ; padding: 0 15px; max-width: 50%;   }
 .col-mt-10{ flex: 1 0 83.33%; padding: 0 15px; max-width: 83.33%;}
 .col-mt-12{ flex: 1 0 100%  ; padding: 0 15px; max-width: 100%;  }

    .wrap-1 h1 {padding-top: 15px; font-size: 18px;}
    .wrap-1 h2 {padding-top: 80px; font-size: 30px;}
    .wrap-1 p{font-size: 10px;}
    .wrap-1 img {padding-top: 27px;}
    .wrap-2 img {padding: 15px;}
    .wrap-3 .box {margin-top: 25px; margin-bottom: 10px;}
    .wrap-4 h2 {color: #ed194a; font-size: 35px;}
    .wrap-5 .slider {margin-top: 88px;}
    .wrap-5 input {top: 406px;}
    .wrap-7 pre {font-size: 12px;}
    .wrap-7 .app h3 {padding-top: 30px;}
    .wrap-7 .sign p {font-size: 11px;}
    .wrap-7 input {padding: 10px 5px;}
    .wrap-7 button {padding: 6px 38px;}
    .wrap-7 .sign {padding-top: 24px;}
    .wrap-7 .icons ul {padding-top: 35px; padding-bottom: 15px;}

}


















